.container {
  max-width: 1000px;
  margin: auto;
}

.app-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  gap: 40px;
}

.left-pane, .right-pane {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.left-pane{
 max-width: 500px;
}

.right-pane {
  max-width: 500px;
}

.header {
  text-align: center;
  margin-top: 20px;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}